*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding: 1em;
}

.input-section{
    display: flex;
    margin-bottom: 20px;
}

#task-input{
    flex: 1;
    padding: 10px;

}

#add-button{
    padding: 10px 15px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
}

.clear-all{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: #ff9800;
    padding: 5px;
}

.no-tasks{
    text-align: center;
    color: #888;
    padding: 20px 0;
    font-style: italic;
}

.status-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 16px;
}

#task-list{
    list-style-type: none;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #f9f9f9;
    margin-bottom: 8px;
}

.task-text{
    flex: 1;
    margin-left: 10px;
}

.completed{
    text-decoration: line-through;
    color: #888;
}

.delete-btn{
    color: white;
    background-color: #f44336;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
}